.jumbotron {
width: 450px;
margin-left: auto;
margin-right: auto;
background-color: #FFF;
}
h3 {
margin-bottom: 20px;
text-align: center; 
}
h4 {
margin-left: 10px;
margin-top: -10px;
}
.Backsubtitulo {
width: 130px; 
height: 20px; 
background-color: #FFF;
margin-left: 15px;
}
.pesquisa {
width: 100px;
}
.table {
margin-top: 20px;
}
.form-control {
margin-bottom: 5px;

}
.selecionado {
font-weight: bold;
}
.form {
margin-top: 10px;
margin-left: 10px;
width: 85px;
}
.tipoEsporte{
height: 26px;

}
.data{
margin-left: 20px;
width: 130px;
}
.btn-primary {
height: 26px;
margin-left: 10px;
}
.divContorno{
border: 2px #333 solid;
}
.frm_pqs {
width: 96%;
}
.div_pqs {
height: 70px;
}
.btn-block{
height: 30px;
width: 80px;
}
hr {
border-color: #999;
}